@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #ffffff;
  --background-start-rgb: #000000;
  --background-end-rgb: #000000;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  color: var(--foreground-rgb);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--monoton-font);
}

#background-container {
  position: absolute;
  inset: 0;
  width: 200vw;
  height: 200vh;
  background-image: url('/assets/mettagames.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#content-wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.date-glow {
  text-shadow:
    0 0 25px #00c2ffff,
    0 0 35px #00c2ffaa;
}

.title-glow {
  text-shadow:
    0 0 60px #f6f6f6,
    0 0 80px #f6f6f6aa;
}

.text-with-blur {
  position: relative;
  z-index: 1;
}

.text-with-blur::before {
  content: '';
  position: absolute;
  inset: -40px -60px;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.15) 20%,
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0.05) 60%,
    rgba(0, 0, 0, 0) 80%
  );
  backdrop-filter: blur(2px);
  z-index: -1;
  border-radius: 40px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Add this to your existing CSS */

.interested-button-glow {
  text-shadow:
    0 0 10px rgba(0, 255, 255, 0.7),
    0 0 20px rgba(0, 255, 255, 0.7),
    0 0 30px rgba(0, 255, 255, 0.7),
    0 0 40px rgba(0, 255, 255, 0.7);
}
