$mobile-max-width: 800px;

.counter {
  color: #fed007;
  position: absolute;
  top: 40%;
  right: 20px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-top: -15px;
}

.extraMargin {
  margin-top: 100px;
}

// .background {
//   @media screen and (max-width: $mobile-max-width) {
//     background:rgba(0, 0, 0, 0.25);
//   }
// }

.box {

  p {
    margin: 0
  }
}