@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Space+Mono&display=swap');

$purple-pink: #E92EFB;
$pink: #fe2078;
$purple: #440ad5;
$dark-blue: #05015e;
$mobile-max-width: 800px;

.title {
  font-family: 'Monoton';
  font-weight: 400;
  filter: drop-shadow(2px 2px 10px #ababab);
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 21px #fedd77;
  @media screen and (max-width: $mobile-max-width) {
    // font-size: 50px;
  }
}