$purple-pink: #E92EFB;
$pink: #fe2078;
$purple: #440ad5;
$dark-blue: #05015e;
$mobile-max-width: 800px;

.title {
  font-family: 'Monoton';
  font-weight: 400;
  font-size: 100px;
  filter: drop-shadow(2px 2px 20px $purple-pink);

  @media screen and (max-width: $mobile-max-width) {
    font-size: 50px;
  }
  
  &__letter:nth-child(n) {
    color: $purple-pink;
  }

  &__letter:nth-child(2n) {
    color: $pink;
  }
}